<script defer src="{{ url_for('static', filename='js/core.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/market.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/watchlist.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/data_quality.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/pnl.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/timeline.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/performance.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/risk.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/fx_forecast_chart.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/account_forecast_chart.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
